# =========================
# Archivos del sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# Dependencias
# =========================
node_modules/

# =========================
# Archivos de entorno
# =========================
.env

# =========================
# Editor / IDE
# =========================
.vscode/
