/* ========================================
   Proyecto: Tarjeta de Presentación | Frontend Club
   Descripción: Hoja de estilos principal
   Autor: Frontend Club
   ======================================== */

/*****************************************
   ÍNDICE DE CONTENIDOS

   1. Fuentes
   2. Variables
   3. Reinicio (Reset)
   4. Estilos Base
      4.1 Cuerpo (Body)
   5. Componente Tarjeta (Card)
      5.1 Contenedor principal
      5.2 Contenido de la tarjeta
      5.3 Imagen de perfil
      5.4 Nombre
      5.5 Rol / Ubicación
      5.6 Biografía
      5.7 Redes sociales
   6. Iconos de Redes Sociales
      6.1 Estilo base del ícono
      6.2 Modificadores por red social
******************************************/


/* 1. Fuente */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 2. Variables */
:root {
    --primary-color: #212020;
    --secondary-color: #242323;
    --paragraph-color: #C2C2C2;
    --footer-color: #1F1E1E;

    --fuente: 'Montserrat', sans-serif;
}

/* 3. Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 4. Estilos Base */
body {
    font-size: 14px;
    font-family: var(--fuente);
    color: var(--paragraph-color);
    background-color: var(--primary-color);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 5. Componente Tarjeta */
/* 5.1 Contenedor principal */
.card {
    width: 320px;
    text-align: center;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 5.2 Contenido de la tarjeta */
.card__content {
    padding: 2rem;
}

/* 5.3 Imagen de perfil */
.card__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

/* 5.4 Nombre */
.card__name {
    margin-top: 1rem;
    font-size: 24px;
}

/* 5.5 Rol / Ubicación */
.card__role {
    padding: 4px 12px;
    display: inline-block;
    border-radius: 9999px;
    background-color: var(--footer-color);

    font-weight: 500;
    font-size: 0.9rem;
    margin: 10px 0;
}

/* 5.6 Biografía */
.card__bio {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-top: 1.5rem;
}

/* 5.7 Redes sociales */
.card__socials {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding: 1.5rem;
    margin-top: 1.5rem;

    background-color: var(--footer-color);
}

/* 6. Iconos de Redes Sociales */
/* 6.1 Estilo base del ícono */
.card__social-icon {
  font-size: 1.2rem;
  color: #9ca3af;
  transition: color 0.3s ease;
}

/* 6.2 Modificadores por red social */
.card__social-icon--twitter {
  color: #1da1f2;
}

.card__social-icon--linkedin {
  color: #0a66c2;
}

.card__social-icon--facebook {
  color: #1877f2;
}
